<a href="https://colab.research.google.com/github/anshika29/ML_Girl/blob/main/01_PerceptonTraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Date Created**: May 29,2021

Author: [Anshika Jain](https:://github.com/anshika29)

#Problem Statement

Train the model to learn the table of 10

Equation : `y=10*x`

#Data Creation

Equation : `y=10*x`

Target -->
```
x = [0, 1, 2, 3, 4, 5....]

y = [0, 10, 20, 30, 40, 50.....]
```

In [8]:
x = [i for i in range(21)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
y = [i for i in range(201) if i%10==0]
print(y)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

#Approach 1

Defining a function which has equation y=`10x`

In [10]:
def tableoften(x):
  y=10*x
  return(y)

for value in x:
  print (tableoften(value))

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200

#Approach 2

I am super enthusiastic about ML so I am going to make a redundant model for the table of ten.

We are going to need `xTrain`,`yTrain`,`xTest` and `yTest` from the `x` and `y` lists

In [12]:
print(f'{x}')
print(f'{y}')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [17]:
xTrain = x[:-5] #TrainingData
yTrain = y[:-5] #TrainingLabels

xTest = x[-5:] #TestingData
yTest =y[-5:] #TestingLabels

print (f'''

Training Data :

xTrain : {xTrain}
yTrain : {yTrain}

Testing Data :

xTest : {xTest}
yTest : {yTest}

''')

Training Data :

xTrain : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
yTrain : [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

Testing Data :

xTest : [16, 17, 18, 19, 20]
yTest : [160, 170, 180, 190, 200]